<div class="container" >
<div class="header-div">
  <div class="fixed-top menu-bg">
  
      <div class="container">
        <div class="logo-menu">
            <div class="header">
                <div class="playerOne">
                  <img src="assets/img/menu.svg"> 
                </div>
                <div class="playerTwo">
                    <img src="assets/img/Weather widget/rain.svg">
                </div>
                <div class="playerTwo temp-div">
                    6&deg;
                    <br>
                    wind:19 mph <br>
                    humidity:70%
                </div>
              </div>
        </div>

      </div>
  </div>
   <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          
          <div class="contents text-center">
              <img src="assets/img/Tabs/tourist attractions/big-ben.svg">
            <h1 style="margin: 0px;">LONDON</h1>
            <p style="color: white;font-size: 35px;">
                Explore the secret life of the city
            </p>
            <button class="primary-button">
              EXPLORE THE CITY
            </button>
            <br/><br/><br/><br/><br/>
                <div class="input-div">
                    <img src="/assets/img/Search/search_icon.svg"/>
                    <input placeholder="Search in city"/>
                </div>
            
          </div>

        </div>
      </div>
    </div>

</div>
</div>