.justify-content-md-center{
    margin :0px !important;
}

.footer-div{
    background-color: #2b3a4d;
    color:#d1dae5;
}
.articles{
    margin: 20px;
}
.articles-detail{
    font-size: 11px;color: #637488;
}
.contact-form{
    background-color: transparent;
          color: white;
          border: none;
          border-bottom: 1px solid;
          margin: 5px;
          width: 100%;
}

.contact-form-submit{
    width: 100%;
    background-color: transparent;
    color: white;
    margin-top: 10px;
}

.footer-copyright{
    background-color: #31363c;color:#d1dae5;height:100px
}