<div class="container  about-div">

    <div class="row justify-content-md-center">
        <div class="contents text-center" style="font-size: 35px;">
<div style="margin-top: 70px">
    <button class="primary-button">
        More Stories
      </button>
</div>
</div>
</div>
<br/><br/><br/><br/><br/><br/>
<div class="row">
  <div class="col-md-6">
      <h1>About London</h1><br/><br/>
      <p>
        London is the political, economic and cultural capital of britain. You can visit the Queen's official residence at Buckingham Palace and tour the House of parliament, historic home of the UK government.
      </p>
      <p>
        London's world-class tourist attractions are renowned across the globe. Many of the most famous attractions are renowned across the globe. Many of the most famous attractions are free to visit, for example Tale Modern, the Nation Gallery and the Victoria and Albert Museum.
      </p>
      <br/><br/>
      <h1>History</h1><br/><br/>
      <p>
          London's history stretches back over thousands of years, and the city boasts four World Heritage Sites: the Palace of the Westminster and Westminster Abbey, the Tower of London, Maritime Greenwich and the Royal Botanic Gardens, Kew.
       </p>
       <br/><br/>
       <button class="read-more">
          Read More
        </button>
  </div>
  <div class="col-md-6">
<img src="/assets/img/picture.png">
  </div>

</div>

</div>