.about-div{
    background-image: url("/assets/img/clouds background.svg");
    height: 1111px;
}
.read-more{
    background-color: transparent;
    border: 1px solid;
    border-radius: 20px;
    height: 40px;
    width: 120px;
}

img{
    max-width: 100%;
max-height:100%;
}